ACCESS_TOKEN_EXPIRES=
APP_URL=
GEMINI_API_KEY=
IDLE_TIMEOUT_MINUTES=
JWT_SECRET=
MONGODB_URI=
REDIS_URL=
REFRESH_TOKEN_EXPIRES=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
VITE_IDLE_TIMEOUT_MINUTES=